.budget-header {
    margin-bottom: 20px;
}

.budget-panel {
    background-color: lightgray;
    border-radius: 8px;
    display: flex;
    gap: 10%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem ;
    margin-bottom: 50px;

    .inputs {
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 20px;

        &__title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            i {
                cursor: pointer;
                font-size: 1.3rem;
            }
        }

        .inputs__date {
            width: 100%;
            display: flex;
            gap: 10px;
            margin-bottom: 20px;

            select {
                width: 100%;
            }
        }

        .inputs__incomes {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;

            label {
                margin-bottom: 0;
            }

            input {
                width: 100%;
                margin-bottom: 5px;
            }
        }
        
    }

    .display {
        width: 60%;
        display: flex;
        flex-direction: column;

        .current-month {
            font-family: Arial, Helvetica, sans-serif;
            margin-bottom: 40px;
        }

        .current-budget {
            margin-bottom: 10px;
            font-size: 1.2rem;

            &__depenses {
                font-size: 1.4rem;
                font-weight: 500;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .budget-panel {
      flex-direction: column;
      gap: 50px;

        .inputs, .display {
            width: 100%;
        }
    }
}