.depenses-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .button {
        display: flex;
        gap: 10px;
        align-items: center;
    }
}

.depenses-panel {
    background-color: lightgray;
    border-radius: 8px;
    display: flex;
    gap: 10%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 2rem;
    margin-bottom: 50px;
}

.board {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__row {
        display: flex;
        padding: 1rem;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        border-bottom: 1px solid black;

        .actions, .amount {
            width: 10%;
        }

        .date {
            width: 20%;
        }

        .actions {
            display: flex;
            gap: 10px;

            i {
                cursor: pointer;
                font-size: 1.2rem;
            }
        }

        .etiquette {
            width: 20%;
        }

        .libelle {
            width: 40%;
        }

    }

    &__row.head {
        font-weight: bold;
        background-color: hsl(171, 59%, 72%);
        font-size: 1.1rem;
    }
}