* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    width: 90%;
    max-width: 1800px;
    margin: 25px auto 0;
  }

  h1 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight:500;
  }

  h2 {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 1000px) {
    main {
      width: 95%;
    }

    h1 {
      font-size: 1.4rem;
    }

    h2 {
      font-size: 1.2rem;
    }

    p , label, select, option {
      font-size: 0.8rem;
    }
  }