* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  main {
    width: 90%;
    margin: 25px auto 0;
  }

  h1 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight:500;
  }

  h2 {
    font-size: 1.5rem;
  }